a {
    color: var(--link-color);
    text-decoration: none;
    margin: 5px 10px;
}

button,
.button {
    border: none;
    color: var(--text-primary);
    background: linear-gradient(to top right, var(--color-primary-theme), var(--color-secondary-theme));
    padding: 8px 10px;
    border-radius: 8px;
    margin: 10px 10px;
}

button.glow {
    box-shadow: 0px 0px 5px var(--color-secondary-theme), 0px 0px 10px var(--color-primary-theme);
}

input {
    box-shadow: 0px 0px 8px var(--color-secondary);
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
    outline: none;
    margin: 10px 10px;
}


.h-flex,
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-direction: column;
}


.title {
    margin: 25px auto;
    position: relative;
}

.title:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: 50% 50%;
    background: linear-gradient(to top right, var(--color-primary-theme), var(--color-secondary-theme));
    box-shadow: 0px 0px 10px var(--color-primary-theme);
}

.title:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to top right, var(--color-primary-theme), var(--color-secondary-theme));

}